### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:

# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
total_players = len(purchase_data["SN"].value_counts())
print("Total Number of Players:",total_players)

Total Number of Players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [4]:
avg_price = purchase_data["Price"].mean()
print("Average Purchase Price:",avg_price)

Average Purchase Price: 3.0509871794871795

In [22]:
# SeriesGroupBy.nunique(self, dropna=True)[source]
# Return number of unique elements in the group.
unique_items = purchase_data.groupby("Item ID").nunique()["Item ID"]
unique_items_count = unique_items.count()
total_revenue = purchase_data["Price"].sum()
avg_price = purchase_data["Price"].mean()
number_ofpurchases = purchase_data.count
print("Unique Items:",unique_items_count, 
      "Total Revenue:",total_revenue, "Average Price:",avg_price)

Unique Items: 183 Total Revenue: 2379.77 Average Price: 3.0509871794871795

In [ ]:
# purchase_analysis_df = pd.DataFrame({"Number of Unique Items"
#                                      :unique_items_count, "Sum of Purchases":
#                                      total_revenue, "Average Price":avg_price})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [23]:
# SeriesGroupBy.nunique(self, dropna=True)[source]
# Return number of unique elements in the group.

gender_count = purchase_data.groupby("Gender")["SN"].nunique()
gender_count.head()

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [24]:
columns = ["Purchase ID","SN","Age","Gender","Item ID",
           "Item Name","Price"]

player_demographics = purchase_data.loc[:, ["Gender", "SN", "Age"]]
player_demographics = player_demographics.drop_duplicates()
allGenders = gender_count / total_players *100
print (allGenders)

Gender
Female                   14.062500
Male                     84.027778
Other / Non-Disclosed     1.909722
Name: SN, dtype: float64

In [25]:
allGender_df = pd.DataFrame({"Total Count": gender_count, "Percent": allGenders})

allGender_df.round(2)

                       Total Count  Percent
Gender
Female                          81    14.06
Male                           484    84.03
Other / Non-Disclosed           11     1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [27]:
purchase_sum_gender = purchase_data.groupby(["Gender"]).sum()["Price"]
avg_purchase_gender = purchase_data.groupby(["Gender"]).mean()["Price"]
purchase_count = purchase_data.groupby(["Gender"]).count()["Price"]
avg_per_person = purchase_sum_gender / purchase_count*100

purchase_analysis_gender = pd.DataFrame({"Purchase Count":purchase_count, 
                                 "Average Purchase Price": avg_purchase_gender,
                                 "Average Purchase Total;": avg_per_person, 
                                  "Total Per Gender": purchase_sum_gender})
purchase_analysis_gender.round(2)

,Purchase Count,Average Purchase Price,Average Purchase Total;,Total Per Gender
Gender,,,,
Female,113,3.20,320.30,361.94
Male,652,3.02,301.79,1967.64
Other / Non-Disclosed,15,3.35,334.60,50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [28]:

bins = [0,13,20,30,40,50,100]
groups = ["0-13","14-20","21-30","31-40","41-50","51+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=groups)

age_group = purchase_data.groupby("Age Group")


age_purchasing_df = purchase_data
age_purchasing_df['Age Groups'] = pd.cut(purchase_data['Age'], bins, labels = groups)

analysis_df = age_purchasing_df[['SN', 'Age Groups']].groupby(['Age Groups']).count()

In [29]:
analysis_df

             SN
Age Groups
0-13         49
14-20       237
21-30       402
31-40        85
41-50         7
51+           0

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [31]:
purchase_sum_age = purchase_data.groupby(["Age Groups"]).sum()["Price"]
avg_purchase_age = purchase_data.groupby(["Age Groups"]).mean()["Price"]
purchase_count_age = purchase_data.groupby(["Age Groups"]).count()["Price"]
avg_per_age = purchase_sum_age / purchase_count_age*100

purchase_analysis_age = pd.DataFrame({"Purchase Count":purchase_count_age, 
                                 "Average Purchase Price": avg_purchase_age,
                                 "Average Purchase Total;": avg_per_age, 
                                  "Total Per Age Group": purchase_sum_age})

purchase_analysis_age.round(2)

,Purchase Count,Average Purchase Price,Average Purchase Total;,Total Per Age Group
Age Groups,,,,
0-13,49,3.12,312.24,153.00
14-20,237,3.10,309.76,734.12
21-30,402,2.99,299.27,1203.06
31-40,85,3.15,315.36,268.06
41-50,7,3.08,307.57,21.53
51+,0,NaN,NaN,0.00

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [33]:

top_spender_sum = purchase_data.groupby(["SN"]).sum()["Price"]
top_spender_avg = purchase_data.groupby(["SN"]).mean()["Price"]
top_spender_count = purchase_data.groupby(["SN"]).count()["Price"]



top_spenders_df = pd.DataFrame({"Top Spender Purchase Count":top_spender_count, 
                                 "Top Spender Avg": top_spender_avg,
                                "Top Spender Sum": top_spender_sum})



top_spenders_df.sort_values("Top Spender Sum", ascending=False).head(5).round(2)

             Top Spender Purchase Count  Top Spender Avg  Top Spender Sum
SN
Lisosia93                             5             3.79            18.96
Idastidru52                           4             3.86            15.45
Chamjask73                            3             4.61            13.83
Iral74                                4             3.40            13.62
Iskadarya95                           3             4.37            13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [34]:
top_item_sum = purchase_data.groupby(["Item Name", "Item ID"]).sum()["Price"]
top_item_avg = purchase_data.groupby(["Item Name","Item ID"]).mean()["Price"]
top_item_count = purchase_data.groupby(["Item Name", "Item ID"]).count()["Price"]



top_item_df = pd.DataFrame({"Top Item Purchase Count":top_item_count, 
                                 "Top Item Avg": top_item_avg,
                                "Top Item Sum": top_item_sum,})



top_item_df.sort_values("Top Item Purchase Count", ascending=False).head(5)

,,Top Item Purchase Count,Top Item Avg,Top Item Sum
Item Name,Item ID,,,
"Oathbreaker, Last Hope of the Breaking Storm",178,12,4.23,50.76
"Extraction, Quickblade Of Trembling Hands",108,9,3.53,31.77
Nirvana,82,9,4.90,44.10
Fiery Glass Crusader,145,9,4.58,41.22
"Pursuit, Cudgel of Necromancy",19,8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [35]:
top_item_df.sort_values("Top Item Sum", ascending=False).head(5)

,,Top Item Purchase Count,Top Item Avg,Top Item Sum
Item Name,Item ID,,,
"Oathbreaker, Last Hope of the Breaking Storm",178,12,4.23,50.76
Nirvana,82,9,4.90,44.10
Fiery Glass Crusader,145,9,4.58,41.22
Final Critic,92,8,4.88,39.04
Singed Scalpel,103,8,4.35,34.80